*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.icons{
	width:30px;
}

.flex{
	display:flex;
	column-gap:10%;
	
}

.links ul li a{
	color:white;
	text-decoration:none;
}


.content{
	background-color:black;
	color:white;
	
}

.top{
	display:flex;
	justify-content:center;
	gap:60%;
	padding:20px;
}

.bottom-details{
	display:flex;
	background-color:grey;
	justify-content:center;
	gap:60%;
	padding:20px;
	color:white;
}

.logo_name{
	font-size:30px;	
}

.links-list{
		
}